/*body*/
/*Header*/
/*Main*/
/*Footer*/
/*Animation*/
/*Body*/
body {
  margin: 0;
  font-family: monospace;
}

/*Header*/
header {
  position: fixed;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.902);
  margin-bottom: 10px;
  top: 0;
  left: 0;
  right: 0;
  animation-name: reloadcareDisplay;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
header .header-h1 {
  color: white;
  text-align: center;
}

@keyframes reloadcareDisplay {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
/*Main*/
.main-details {
  margin-top: 150px;
}
.main-details .img {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 25px;
  position: relative;
}
.main-details .hero {
  border: 2px solid black;
  width: 310px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 10px;
}
.main-details .text {
  padding: 1rem;
}
.main-details .text h2 {
  text-decoration: underline red;
}

@keyframes reloadLeftRight {
  from {
    width: 0px;
  }
  to {
    width: normal;
  }
}
span {
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 14.4em;
  left: 5rem;
}

.table {
  margin-top: 3rem;
}

table,
tr,
td {
  border: 1px rgb(190, 189, 189) solid;
  border-collapse: collapse;
  width: 50rem;
  margin: 0 auto;
}
table td,
tr td,
td td {
  padding: 8px;
}
table th,
tr th,
td th {
  border-left: 1px rgb(190, 189, 189) solid;
  padding: 8px;
}
table .gray-row,
tr .gray-row,
td .gray-row {
  background-color: lightgrey;
}
table tr:hover,
tr tr:hover,
td tr:hover {
  background-color: rgb(148, 146, 146);
  transition: ease-in 0.3ms;
}

.message-div {
  margin-top: 6.5rem;
  margin-bottom: 13rem;
}
.message-div form {
  border: lightgrey 1px solid;
  width: 25%;
  margin: 0 auto;
  border-radius: 0.8rem;
  padding-top: 30px;
  padding-bottom: 20px;
  animation-name: borderchange;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.message-div form button {
  background-color: lightgreen;
  border: lightgrey 1px solid;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
  padding: 8px 0;
}
.message-div form button:hover {
  background-color: rgb(103, 246, 103);
  transition: ease-in 0.1s;
}
.message-div fieldset {
  border: none;
  width: 3rem;
  margin: auto;
}
.message-div fieldset legend {
  border-bottom: 1px lightgrey solid;
  font-weight: bold;
  margin-bottom: 2em;
}
.message-div fieldset label {
  font-weight: bold;
}
.message-div fieldset input, .message-div fieldset textarea {
  border: lightgrey 1px solid;
  outline: lightgrey 1px solid;
  width: 15rem;
  border-radius: 0.2rem;
  height: 2em;
  margin-bottom: 1em;
  margin-top: 0.4em;
}
.message-div fieldset input {
  padding-left: 8px;
}
.message-div fieldset textarea {
  height: 8em;
}

@keyframes borderchange {
  from {
    border-color: lightgrey;
  }
  to {
    border-color: black;
  }
}
/*Footer*/
footer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.902);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  animation-name: reloadcareDisplayBootom;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
footer .footer-paragraph {
  color: white;
  text-align: center;
  font-weight: bold;
}

@keyframes reloadcareDisplayBootom {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}