/*body*/
$body-margin: 0;
$body-font: monospace;

/*Header*/
$header-img: rgba(0, 0, 0, 0.902);
$header-position: fixed;
$header-padding: 10px;
$text-color: white;
$text-position: center;
$header-margin-bottom: 10px;
$header-top: 0;

/*Main*/
$main-margin-top: 150px;
$border-rad: 10px;

//Image
$img-margin-top: 10px;  
$img-margin-left: 25px;  
$img-width: 250px;
$img-height: 250px;

//hero
$border: 2px solid black;
$hero-margin-left: 30px;
$hero-width: 310px;
$hero-padding: 10px;
$hero-position: absolute;
$hero-position-2: relative;

//span
$span-text-color: $text-color;
$span-text-bg: red;
$span-text-color-2: white;
$span-text-bg-2: green;
$span-top: 12em;
$span-left: 5rem;

//below text
$text-padding: 1rem;

//
$decorate-text: underline;

//table
$table-border: 1px rgb(190, 189, 189) solid;
$table-border-collapse: collapse;
$table-for-width: 50rem;
$table-padding: 8px;
$table-margin-top: 3rem;

//row
$grey-row: lightgrey;
$grey-row-effect: rgb(148, 146, 146);
$row-transition: ease-in 0.3ms;
  //table head
  $table-header-bg-color: grey;
  $table-margins: auto;
  //forms
  $form-border: $grey-row 1px solid;
  $form-pad-up: 30px;
  $form-pad-down: 20px;
  //Fieldset
$field-set-margin-top: 13rem;
$fieldset: none;
$fieldset-weight: 3rem;
     //legends
     $legends-bottom: 1px $grey-row solid;
     //input
     $input-out: $grey-row 1px solid; 
     $input-field: 15rem;
     $input-rad: 0.2rem;
     $input-height: 2em;
     //button
     $bg-btn: lightgreen;
     $bg-btn-2: rgb(103, 246, 103);
     $btn-mouse: pointer;
     $btn-width: 30%;
     $btn-padding: 8px 0;
     $btn-transition: ease-in 0.1s;

/*Footer*/
$foot-position: $header-position;
$footer-background:$header-img;
$footer-positioning-bottom: 0;
$foot-text: bold;

/*Animation*/
  //form-ani
  $form-color-1: green;
  $form-color-2: red;

  //keyframes


  //ani-name
  $border-ch: borderchange;