@import 'variable';

/*Body*/
body {
     margin: $body-margin;
}

header {
     position: $header-position;
     padding: $header-padding;
     background-color: $header-img;
     margin-bottom: $header-margin-bottom;
     top: $header-top;
     left: $header-top;
     right: $header-top;
     .header-h1 {
          color: $text-color;
          text-align: $text-position;
     }
}

/*Main*/
.main-details {
     margin-top: $main-margin-top;
          .img {
               width: $img-width;
               height: $img-height;
               margin-top: $img-margin-top; 
               border-radius: $border-rad;
               margin-left: $img-margin-left;
               position: $hero-position-2;
          
     
     }
     .hero {
          border: $border;
          width: $hero-width;
          margin-left: $hero-margin-left;
          border-radius: $border-rad; 
          padding: $hero-padding;   
     }
     .text {
          padding: $text-padding;
          h2 {
               text-decoration: $decorate-text red;
          }
     }

}

//Span
span {
     color: $span-text-color;
     background-color: $span-text-bg;
     padding: $header-padding;
     border-radius: $border-rad;
     position: $hero-position;
     top: $span-top;
     left: $span-left;
}

//table 
.table {
     margin-top: $table-margin-top;
}

table,
tr, 
td {
     border: $table-border;
     border-collapse: $table-border-collapse;
     width: $table-for-width;
     margin: 0 $table-margins;
          td {
               padding: $table-padding;
          }
          th {
               border-left: $table-border;
               padding: $table-padding;
          }
          .gray-row {
               background-color: $grey-row;
     }
     tr:hover {
          background-color: $grey-row-effect;
          transition: $row-transition;
     }
}

//Fieldset
.message-div {
     margin-top: $field-set-margin-top;
     margin-bottom: $field-set-margin-top;
     fieldset {
          border: $fieldset;
          width: $fieldset-weight;
          margin: $table-margins;
          legend {
               border-bottom: $legends-bottom;
               font-weight: $foot-text;
               margin-bottom: $input-height;
          }
          label {
               font-weight: $foot-text;
          }
          input, textarea {
               border: $input-out;
               outline: $input-out;
               width: $input-field;
               border-radius: $input-rad;
               height: $input-height;
               margin-bottom: $input-height / 2;
               margin-top: $input-height / 5;
          }
          textarea {
               height: $input-height * 4;
          }
     }
}



/*Footer*/
footer {
     position: $foot-position;
     background-color: $footer-background;
     bottom: $footer-positioning-bottom;
     left: $footer-positioning-bottom;
     right: $footer-positioning-bottom;
     padding: $header-padding;
          .footer-paragraph {
               color: $text-color;
               text-align: $text-position;
               font-weight: bold;
     }
}