

header {
     background-image: url(https://edube.org/uploads/media/default/0001/04/products_image.jpg);
     position: fixed;
     width: 1000px;
}

/*
h1 {
      text-align: center;
    padding: 50px;
    font-weight: bold;
}
*/

main {


     

}

.img-div{
     position: relative;
}

img {
     border-radius: 10px;
     margin: 10px;
}

.hero {
     border: 2px solid black;
     border-radius: 20px;
     width: 350px;
     margin-left: 15px;
     position: ;
     box-shadow: 2px 2px 13px;
}

.small-icon {
     background-color: red;
     padding: 10px;
     border-radius: 10px;
     color: white;
     position: absolute;
     top: 19px;
     left: 20px;
}

[class*=text] {
     width: 300px;
     padding: 20px;
     margin-top: 0px;
     position: relative;
}


/*Table*/
table, td {
     border: 1px solid rgb(220, 216, 216);
     border-collapse: collapse;
     width: 1200px;
     margin: 20px;
     height: 40px;
}

th {
     padding: 10px;
     border: 1px solid rgb(220, 216, 216);
}

td {
     padding-left: 10px;
}

[class*="row-1"] {
     background-color: rgb(241, 239, 239);
}

/*Table Hover*/
th:hover {
     background-color: lightgray;
}

tr:hover {
     background-color: lightgray;
}


/*Fieldset*/
fieldset {
     border: none;
     display: block;

}

legend {
     border-bottom: 1px solid rgb(203, 194, 194);
     font-size: large;
     font-weight: bold;

}

button {
     background-color: lightgreen;
     color: white;
     padding: 10px;
}

input {
     
}

form {
     display: block;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid grey;
     border-radius: 12px;
}

footer {
     background-color: lightgray;
     text-align: center;
     padding: 50px;
     height: ;
