body {
     font-family: "Orbitron";
     text-align: center;
     color: rgb(89, 202, 218);
     
}

.hero {
     background-image: url(./image/galaxy.webp);
     padding: 20px;
     padding-bottom: 10px;
     background-size: cover;

}

.btn {
     font-family: inherit;
     color: rgb(89, 202, 218);
     margin-bottom: 60px;
     background-color: white;
     border: none;
     width: 100px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     font-weight: bold;
     cursor: pointer;
}

#space-x-logo {
     width: 150px;
}

.em {
     border-bottom: 4px white solid;
}