$body: 0;

/*header style*/
$product-header-img: url(./images/photo-1.jpg);
$header-padding: 10px;
$header-img-size: cover;
$header-img-repeat: no-repeat;
$header-img-position: center;
$header-img-size-2: contain;
$header-text-position: center;
$header-text-color: white;
